@import "../_vars.sass"

.about
	margin-top: 30px
	&_title
		display: none
	&_hint
		text-align: right
		color: $white
		font-size: 14px
		font-weight: 100
	&_content
		display: none
		color: $white
		font-size: 20px
		padding: 0px 10px
		line-height: 24px
		span
			color: $blue
	&_form
		text-align: center
		margin: 10px 0
		position: relative
		display: flex
		align-items: center
		justify-content: center
		input
			margin: 0px
			border: transparent 1px solid
			padding: 7px 20px
			min-width: 250px
			// border-radius: 5px
			font-weight: 100
			letter-spacing: 1px
			transition: all .4s ease
			font-size: 15px
			&:focus
				border-bottom: 1px solid $blue
			&::placeholder
				color: rgba(0,0,0, .4)
		button
			margin: 5px
			color: $white
			background-color: #388E3C
			padding: 7px 30px
			border: 1px solid transparent
			border-bottom: 1px solid #388E3C
			outline: none
			cursor: pointer
			letter-spacing: 1px
			font-weight: 100
			transition: all .2s ease
			&:hover
				border-bottom: 1px $white solid
		.success
			color: $white
			display: inline-block
			font-weight: lighter
			font-size: 18px
			padding: 1px 4px
			letter-spacing: 2px
			background-color: #4CAF50
			transition: all .4s ease
			opacity: 0
			position: absolute
			left: 30%
		.active
			opacity: 1
	&_highlight
		font-weight: lighter
		margin-bottom: 10px
		span
			color: $white !important
			// background-color: $blue


.validation
	color: darken(tomato, 25)
	font-size: 14px
	font-weight: bold
	position: absolute
	left: 30%