@import "../_vars.sass"

.cta
	// margin-top: 20px
	padding-bottom: 40px
	&_wrapper
		display: flex
		justify-content: center
		align-items: flex-start
		padding: 20px 0
	&_img
		margin-left: 20px
		margin-right: 5px
		margin-top: 10px
		img
			width: 15px
	&_content
		padding-left: 20px
		padding-right: 25px
	&_title
		color: $white
		font-size: 50px
		letter-spacing: 1px
		line-height: 1.2
		margin-bottom: 20px	
		font-weight: bold
		display: flex
		align-items: center
		img
			width: 60px
	&_text
		color: $white
		font-size: 20px
		line-height: 24px
		font-weight: lighter
		span
			background-color: $blue
		