@import "../_vars.sass"
	
	
.header
	position: relative
	color: $white
	width: 100%
	text-align: right
	padding: 10px 0
	margin-bottom: 20px
	padding-top: 25px
	&_wrapper
		// display: flex
		// justify-content: space-around
		// align-items: center
		position: relative
	.logo
		position: absolute
		left: 50%
		transform: translateX(-50%)
		img
			width: 35px
	.lang
		position: absolute
		font-size: 20px
		font-weight: normal
		right: 2%
		// width: 50%
		&_pt
			padding-right: 6px
			display: inline-block
			text-transform: uppercase
			a
				color: $white
				// text-decoration: none
				transition: all .5s ease
				&:hover
					// border-bottom: 1px solid #ffffff
		&_eng
			padding-right: 4px
			display: inline-block
			text-transform: uppercase
			a
				color: $white
				// text-decoration: none
				transition: all .5s ease
				&:hover
					// border-bottom: 1px solid #ffffff

