@import "../_vars.sass"

.hero-dt
	display: none
	margin-top: 100px
	.h1
		font-size: 45px
		line-height: 50px
		font-weight: normal
		line-height: 45px
		color: $white
	&_nos
		position: absolute
		bottom: 0
		right: 0
		text-align: right
		img
			width: 40%