@import "../_vars.sass"

.title
	margin-top: 60px
	color: $white
	padding: 20px 10px
	font-weight: normal
	margin-bottom: 15px
	.h1
		position: relative
		font-size: 45px
		line-height: 50px
		font-weight: normal
		line-height: 45px
		z-index: 5
		// span
		// 	font-family: $outline
		span
			display: block
	&_img1
		margin-top: -5px
		width: 90%
		// display: block
		display: inline-block
		
	&_img2
		width: 100%
		display: inline-block
	&_nos
		position: absolute
		bottom: 0
		right: 1%
		z-index: 3
		img
			width: 70px