@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.hero-dt
		&_nos
			bottom: 15%
			right: -18%
// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)
	.about
		&_title
			display: none !important
		&_form
			input
				min-width: 130px
	.video_playbtn
		top: 35%
		width: 60px
		height: 60px
		img
			width: 20px
			margin-left: 5px
// ≥576px
+media-breakpoint-down(xs)
	.video_playbtn
		top: 40%
		width: 40px
		height: 40px
		img
			width: 10px
			margin-left: 2.5px
	.title
		.h1
			font-size: 40px
			&_eng
				font-size: 39px
	.main
		overflow-x: hidden
	.footer_email__link
		font-size: 12px
	.footer_sign__link
		a
			padding: 2px 5px
			font-size: 12px
	.share_box
		&__title
			transform: translateX(30%)
		ul
			li
				margin: 0px 5px
	.artists
		&_name
			&-bon
				left: -12%
				font-size: 12px
			&-tcb
				left: -8%
				font-size: 12px
			&-tsp
				left: -3%
				font-size: 12px
			&-idles
				left: -7%
				font-size: 12px
			&-ty
				font-size: 12px
				left: -7%
			&-vm
				font-size: 12px
				left: -8%
	.show
		&_video
			height: 40vh
/*==========  Mobile First  ==========*/
@media (min-width: 320px) and (max-width: 370px)
	.title
		&_nos
			position: absolute
			bottom: -5%
			right: -1%
			z-index: 3
			img
				width: 50px
	.show
		&_title
			font-size: 24px
// ≤576px
+media-breakpoint-up(sm)
	.title
		display: none
	.hero-dt
		.h1
			position: relative
			left: -10%
			font-size: 60px
			line-height: 50px
			span
				display: block
	.artists
		display: none
		&_name
			&-bon
				left: -17%
				font-size: 24px
			&-tcb
				left: -4%
				// bottom: 15%
				font-size: 24px
			&-tsp
				left: -10%
				font-size: 24px
			&-idles
				left: -10%
				font-size: 24px
			&-ty
				font-size: 24px
				left: -10%
			&-vm
				font-size: 24px
				left: -11%
	.hero-dt
		display: block
	.about
		padding-bottom: 60px
		&_title
			display: block
			margin-top: 20px
			text-align: right
			font-size: 36px
			font-weight: bold
			line-height: 44px	
			color: $white
			letter-spacing: 4px
			margin-bottom: 30px
			p
				margin: 0
				margin-right: -20px
				display: inline-block
			span
				padding: 0px 15px
				background-color: $blue
				&:nth-child(2)
					margin-right: -10px
				&:nth-child(3)
					margin-right: 10px
	.show
		&_title
			display: none
		&_video
			height: 70vh
	.share
		&_box
			&__title
				margin-right: 2%
				letter-spacing: 2px
				font-weight: 300
			margin-top: 20px
			justify-content: flex-end
			ul
				margin-right: 5%
	.cta
		padding-top: 10px
		padding-bottom: 110px
		&_img
			margin-left: 60px
			margin-right: 30px
			margin-top: 50px
			img
				width: 30px
		&_title
			font-size: 65px
			line-height: 1.4
			letter-spacing: 3px
		&_text
			margin-top: 30px
			line-height: 30px
			font-size: 22px
	.footer
		padding-top: 50px
		padding-bottom: 20px
		&_pdm
			padding-top: 20px
			font-size: 18px
			span
				font-size: 18px
		&_email
			margin-left: 10%
			&__title
				font-size: 24px
				margin-bottom: 20px
			&__link
				line-height: 1.8
				font-size: 20px
		&_sign
			// margin-left: 20%
			text-align: right
			margin-right: 10%
			&__title
				font-size: 24px
				padding-bottom: 10px
			&__link
				font-size: 22px
				a
					text-decoration: none
					font-size: 22px
					padding-top: 10px
					padding-bottom: 12px
					padding-left: 35px
					padding-right: 35px
					transition: all .5s ease
					&:hover
						border: 1px solid $orange
// ≤768px
+media-breakpoint-up(md)
	.header
		.logo
			img
				width: 50px
	.artists
		&_carousel
			margin-top: 20px
		&_img
			padding: 0px 45px
			img
// ≤992px
+media-breakpoint-up(lg)
	.hero-dt
		.h1
			width: 130%
			position: absolute
			left: -15%
			font-size: 65px
			line-height: 65px
			span
				display: block
			.title_img1
				width: 80%
				margin-bottom: -5px
				display: inline-block

	.artists
		&_btns
			margin-top: 5px
			margin-left: 40px
		&_carousel
			&__prev
				padding-right: 10px
				cursor: pointer
				transition: all .4s ease
				&:hover
					img
						transform: translateX(-5px)
				img
					transition: all .4s ease
					width: 20px

			&__next
				padding-right: 5px
				cursor: pointer
				transition: all .4s ease
				&:hover
					img
						transform: translateX(5px)
				img
					transition: all .4s ease
					width: 20px
	.startpage
		&_video
			width: 50%
// ≤1200px
+media-breakpoint-up(xl)

